<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="JetBrains.ReSharper.Daemon.CSharp" publicKeyToken="1010A0D8D6380325" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.2165.98" newVersion="6.0.2165.98"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JetBrains.ReSharper.Daemon" publicKeyToken="1010A0D8D6380325" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.2165.98" newVersion="6.0.2165.98"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
